{{yield}}

<h1>Our featured item</h1>

<div class="component-wrapper">
  <div class="description-container">
    <div>Rock Your World with the Ultimate Bass Guitar Sale! 🎸</div>

    <p>Looking to lay down some groovy bass lines? Our featured Fender Precision
      Bass is just what you need!
    </p>

    <p>
      Perfect for both beginners and seasoned pros, this bass guitar boasts
      rich, deep tones and exceptional playability. Crafted with precision, it
      offers a sleek design and durable build, ensuring you’re ready to rock for
      years to come.</p>

    <div class="row-item-wrapper">
      <div class="row-item">
        <img
          src="/images/credit-card-front-regular-24.png"
          alt="Custom SVG Icon"
        />
        <h4>SPECIAL INTEREST FREE FINANCING AVAILABLE</h4>
      </div>
      <div class="sub-text">$23 a month with 48-month financing</div>
    </div>

    <div>

      <div class="row-item">
        <img src="/images/truck-solid-24.png" alt="Custom SVG Icon" />
        <h4>Free Shipping in the US</h4>
      </div>
      <div class="sub-text">International Shipping Available</div>
    </div>

    <div class="row-item-wrapper">
      <div class="row-item">
        <img src="/images/check-shield-regular-24.png" alt="Custom SVG Icon" />
        <h4>Warranty Plans Available</h4>
      </div>
      <div class="sub-text">Get additional coverage through us</div>
    </div>

    <div class="row-item-wrapper">
      <div class="row-item">
        <img src="/images/chat-regular-24.png" alt="Custom SVG Icon" />
        <h4>Friendly Customer Service to Answer All Questions</h4>
      </div>
    </div>
  </div>
  <div class="image-and-price-container">
    <div class="headline">{{@brand}} {{@modelType}}</div>
    <p>
      {{@numberOfStrings}}
      string
      {{#if @isBass}}
        bass guitar
      {{else}}
        guitar
      {{/if}}
    </p>
    <div class="star-container">
      {{starHandler @stars}}
    </div>
    <div>
      <s class="strikeout">${{addNumbers @price @addOnAmount}}</s>
      <div class="price">${{@price}}</div>
    </div>
    <img
      src="/images/fender_electric_bass_precision_dakotared.webp"
      alt="Custom SVG Icon"
      class="myImg"
    />
    <a class="learn-more" href="/bass">Learn More</a>
  </div>
</div>